html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: #f6f7f9;
    font-size: 20px;
}

.flex-block {
    max-width: 1200px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100px;
}
.content-between-position {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    width: 25%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.header-feedback {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-block {
    margin: 20px 0;
    height: 500px;
    display: flex;
    align-items: center;
    background-image: url('./images/preview-picture.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.preview-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.preview-name {
    font-size: 60px;
    margin: 0;
}

.skills-description-item {
    width: 200px;
}
.description-picture {
    width: 50%;
}
.description-text {
    font-size: 18px;
}

.portfolio-description-item {
    width: 370px;
}
.portfolio-picture {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 15px;
}

.section-block {
    margin: 80px 0;
}
.section-header {
    font-size: 40px;
    margin: 40px 0;
}
.section-footer {
    margin: 40px 0;
}
.description-block {
    display: flex;
    justify-content: space-between;
}

.banner-block {
    background-color: #3f2aff;
    color: #ffffff;
}
.banner-block-content {
    height: 400px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}
.banner-item-content {
    margin: 0;
    font-size: 40px;
}

.footer {
    height: 250px;
}
.footer-menu {
    height: 45%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-list {
    padding: 20px 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.messenger-icon {
    width: 20px;
}



.phone:hover {
    font-weight: bold;
    color: #3f2aff;
}
.button {
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
}
.button-tranperent {
    border: 1px solid #000000;
    background-color: transparent;
}
.button-blue {
    border: 1px solid #3f2aff;
    background-color: #3f2aff;
    color: #ffffff;
}
.link {
    text-decoration: none;
    color: #000000;
}
.hover-blue:hover {
    color: #3f2aff;
}

.list {
    margin: 0;
    list-style-type: none;
}
